<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net462" />
  <package id="kCura" version="9.6.25.48" targetFramework="net462" />
  <package id="kCura.Injection" version="9.6.26.25" targetFramework="net462" />
  <package id="Moq" version="4.8.2" targetFramework="net462" />
  <package id="Relativity.API" version="9.6.25.48" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.6.25.48" targetFramework="net462" />
  <package id="Relativity.Kepler" version="1.0.1.431" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.310" targetFramework="net462" />
  <package id="Relativity.SecretCatalog" version="1.0.19" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="9.6.48.9" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="9.6.48.9" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces.Private" version="9.6.48.9" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="9.4.159" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>