@{
    ViewBag.Title = "Home Page";
}
<script src="~/signalr/hubs"></script>


<div class="rb-padding">
    <div class="text-right">
        <a href="#" class="align-top" data-toggle="modal" data-target=".modal-settings"><span class="material-icons">settings</span>Settings</a>
    </div>
    <div class="card border-light mb-3">
        <h2>Title</h2>
        <div class="card-body">
            <div class="card-deck">
                <div class="col-xl-3 col-xs-1 rb-padding-top">
                    <div class="card border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="material-icons primary rb-icon">attach_money</span>
                                </div>
                                <div class="col-md-9 text-center">
                                    <div class="rb-floating-text text-secondary" ng-bind="vm.cards.CostDay"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-primary text-light">Cost / Day</div>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-1 rb-padding-top">
                    <div class="card border-success">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="material-icons success rb-icon">remove_red_eye</span>
                                </div>
                                <div class="col-md-9 text-center">
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <div class="rb-floating-text text-secondary"><span ng-bind="vm.cards.ViewsHour"></span></div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            Distinct:
                                            <span class="badge badge-success" title="Distinct"><span ng-bind="vm.cards.ViewsHourBadge"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-success  text-light">Views / Hour</div>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-1 rb-padding-top">
                    <div class="card border-warning">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="material-icons warning rb-icon">access_time</span>
                                </div>
                                <div class="col-md-9 text-center">
                                    <div id="averageReviewHour" class="rb-floating-text text-secondary"><span ng-bind="vm.cards.AverageTime"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-warning text-light">Average review / Hour</div>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-1 rb-padding-top">
                    <div class="card border-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="material-icons danger rb-icon">mode_edit</span>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <div id="editsHour" class="rb-floating-text text-secondary"><span ng-bind="vm.cards.EditsHour"></span></div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            Distinct:
                                            <span id="editsHourBadge" class="badge badge-danger" title="Distinct"><span ng-bind="vm.cards.EditsHourBadge"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-danger text-light">Edits / Hour</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="rb-padding col col-lg-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th scope="col">Workspace</th>
                    <th scope="col">Cost / Day</th>
                    <th scope="col">Views / Hour</th>
                    <th scope="col">Average / Review</th>
                    <th scope="col">Edits / Hour</th>
                    <th scope="col"># of Users</th>
                    <th class="text-center" scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workspace in vm.workspaces">
                    <td ng-bind="$index + 1"></td>
                    <td ng-bind="workspace.WorkspaceName"></td>
                    <td ng-bind="workspace.CostDay"></td>
                    <td ng-bind="workspace.ViewsHour"></td>
                    <td ng-bind="workspace.AverageTime"></td>
                    <td ng-bind="workspace.EditsHour"></td>
                    <td ng-bind="workspace.User.length"></td>
                    <td class="text-center">
                        <a href="" class="align-top" data-toggle="modal" data-target=".modal-workspace-details" ng-click="vm.filterUsers(workspace.WorkspaceArtifactId)">
                            <span class="material-icons">more_horiz</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade modal-workspace-details" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Workspace Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Cost / Day</th>
                            <th scope="col">Views / Hour</th>
                            <th scope="col">Average / Review</th>
                            <th scope="col">Edits / Hour</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.users">
                            <td ng-bind="$index + 1"></td>
                            <td ng-bind="user.UserName"></td>
                            <td class="text-success" ng-bind="user.CostDay"></td>
                            <td ng-bind="user.ViewsHour"></td>
                            <td ng-bind="user.AverageTime"></td>
                            <td ng-bind="user.EditsHour"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-settings" tabindex="-1" role="dialog" aria-labelledby="modal-settings" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Price per Hour</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Camilo Molina</td>
                            <td><input type="number" class="form-control mb-2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

















